{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <div class="icons">
        <a target="_blank" href="https://github.com/Vanja2610/LoanApproval-project" rel="noreferrer">
            <img src="../static/images/github-icon.svg" alt="Github icon">
        </a>
        <a href="../static/README.pdf" target="_blank" rel="noreferrer">
            <img src="../static/images/pdf.svg" alt="Pdf icon">
        </a>
    </div>
    <h1 style="text-align: center">Should This Loan be Approved or Denied</h1>
    <div class="form">
        <form action="/predict" method="POST">
            <input required type="number" name="GrAppv" id="GrAppv" placeholder="Gross amount of loan to be approved by the bank">
            <input required type="number" min="0" max="1" step="0.01" name="Backed_by_SBA" id="Backed_by_SBA"
                   placeholder="Proportion of gross amount guaranteed by SBA">
            <input required type="number" name="Term" id="Term" placeholder="Loan term in months">
            <input required type="number" name="NoEmp" id="NoEmp" placeholder="Number of business employees">
            <select name="NewExist" id="NewExist">
                <option value="Existing business">Existing business</option>
                <option value="New business">New business</option>
            </select>
            <select name="LowDoc" id="LowDoc">
                <option value="Yes">LowDoc Loan - Yes</option>
                <option value="No">LowDoc Loan - No</option>
            </select>
            <input class="submit" type="submit" value="Predict">
        </form>
    </div>
    <div class="opis">
        <ul>
            <li><span>Existing/New business</span> - business is in existence
                                                     for more than/less than or equal to 2 years</li>
            <li><span>LowDoc Loan</span> - can be processed using a one-page application</li>
        </ul>
    </div>
</div>
{% endblock %}